.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    padding: 40px 20px 80px;
    margin: 0 auto;
}

.post {
    width: 100%;
    max-width: 750px;
    height: 750px;
    margin: 40px auto 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
}


.postBtns {
    margin: auto 0 0;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5px;
}

.author, .donate, .vacansies, .like, .comm {
    background: white;
    padding: 4px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    transition: .15s linear;
}

.author {
    object-position: center center;
    object-fit: cover;
}

.author img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

.likeCount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: -5px;
    top: -5px;
    z-index: 1000;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: gray;
    border: 2px solid gray;
}

.donate:hover, .author:hover, .like:hover, .vacansies:hover, .comm:hover {
    transform: scale(1.1);
}

.body {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.body img {
    /*width: 70%;*/
    /*height: 70%;*/
    /*margin: 20px auto;*/

    width: 100%;
    height: 100%;
    max-width: 635px;
    max-height: 450px;
    object-fit: cover;
    margin: 0 auto;
}

.body p {
    font-size: 25px;
}