.project{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.project h2{
    margin: 20px auto;
}

.discription{
    margin: 20px;

}

.project iframe{
    width: 100%;
    height: 500px;
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    margin: 20px auto;
}
.post{
    max-width: 300px;
    height: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #e5e5e5;
}
.post:hover img,.post:hover h4 {
    transform: scale(1.1);
}
.post img{
    width: 100%;
    margin: auto;
}

.post h4 {
    font-family: Poppins, 'sans-serif';
    font-size: 20px;
    z-index: 2000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear all;
}

.post h4:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, .7);
    z-index: -1;
}

.post img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: .2s linear all;
    height: 100%;
}