.createPostChange {
    position: fixed;
    width: 100%;
    height: 100px;
    background: white;
    left: 0;
    top: 0;
    border-radius: 8px;
    animation: forwards start .2s linear 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.createPostChange::-webkit-scrollbar {
    width: 2px;
}

.project {
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: .2s background-color;
}

.project:hover {
    cursor: pointer;
    background: #e5e5e5;
}


@keyframes start {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.haveNot {
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.haveNot button {
    width: 40px;
    border-radius: 50%;
    margin: auto;
    height: 40px;
    display: flex;
    font-size: 26px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.haveNot button:hover {
    filter: invert(1);
    color: black;
    background: white;
}
