.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: auto;
    padding: 0 20px 60px;
    border: 0;
    align-items: center;
}

.post {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
}

.post:hover img,.post:hover h4 {
    transform: scale(1.1);
}

.post h4 {
    font-family: Poppins, 'sans-serif';
    font-size: 20px;
    z-index: 2000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear all;
}

.post h4:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, .7);
    z-index: -1;
}

.post img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: .2s linear all;
    height: 100%;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.discription * {
    font-size: 16px;
    font-family: Poppins, 'sans-serif';
}

.discription {
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.miniProfile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin: 20px 0 auto;
    padding: 20px;
}

.miniProfile img {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.miniProfile h3 {
    font-family: Poppins, 'sans-serif';
    font-size: 24px;
    color: black;
}

.buttons {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.buttons button{
    height: 30px;
    width: 160px;
    border-radius: 8px;
    font-weight: 400;
}

.logOut {
    border: 2px solid #fa1b1b;
    color: white;
    background-color: #fa1b1b;
}

.logOut:hover {
    background: white;
    color: black;
}

.edit {
    border: 2px solid black;
    background: white;
    color: black;
}

.edit:hover {
    background: white;
    filter: invert(1);
}

@media (max-width: 768px){
    .miniProfile {
        padding-top: 0;
    }
    .post {
        max-width: 150px;
        height: 150px;
    }

    .miniProfile img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 510px ) {
    .posts {
        grid-gap: 2px;
    }
    .profile{
        padding: 20px 0;
    }

    .miniProfile h3 {
        font-size: 20px;
    }

    .discription {
        font-size: 14px;
    }
}

@media (max-width: 460px){
    .post {
        max-width: 115px;
        height: 115px;
    }

    .post h4 {
        font-size: 16px;
    }



    .miniProfile img {
        width: 100px;
        height: 100px;
    }
    .miniProfile h3 {
        font-size: 16px;
    }

    .discription {
        font-size: 12px;
    }
}