.addElem{
    border-radius: 20px;
    width: 700px;
    min-height: 700px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    z-index: 1000;
    animation: start .2s 1 linear;
}
@keyframes start {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.close{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    background: white;
    border: 0;
    color: black;
    top: 20px;
}

.addElem input, .addElem textarea{
    width: 75%;
    margin: 20px;
}
.close:hover{
    filter: invert(1);
    background: white;
}

.addElem select{
    width: 200px;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, 'sans-serif';

}
.add{
    width: 50%;

margin: 20px;
}