.createPost{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6000;
}
.content{
    border-radius: 20px;
    width: 700px;
    height: 700px;
    overflow-y: scroll ;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
.close{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    background: white;
    border: 0;
    color: black;
    top: 20px;
}

.content input, .content textarea{
    margin: 20px 0;
    width: 75%;
    min-height: 40px;
}
.close:hover{
    filter: invert(1);
    background: white;
}

.create{
    margin: auto 0 0;
}
.add{
    width: 50%;
    margin: 10px auto;
}