.comments {
    position: absolute;
    width: 635px;
    height: 635px;
    transform: translateX(700px);
}

@keyframes start {
    from {
        transform: translateX(700px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes close {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(700px);
    }
}


.commentsList {
    height: calc(100% - 40px);
    border-radius: 8px;
    border: 1px solid black;
    background: white;
}

.moveLeft {
    animation: start .3s linear;
    animation-fill-mode: forwards;
}

.moveRight {
    animation: close .3s linear;
    animation-fill-mode: forwards;
}

.form {
    position: relative;
}

.text {
    display: flex;
    width: 100%;
    height: 40px;
}

.sendBtn {
    position: absolute;
    z-index: 4000;
    top: 0;
    right: 0;
}