.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px 80px;
}

.post {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: black;
}

.content img {
    width: 100%;
}

.post h3 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.date {
    font-size: 12px;
}

.discription {
    font-size: 16px;
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    height: 90%;
    padding: 20px;
    margin: auto;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.content img {
    width: 100%;
    height: 100%;
    max-width: 635px;
    max-height: 450px;
    object-fit: cover;
    margin: 0 auto;
}

.postBtns {
    margin: auto 0 0;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5px;
}

.author, .donate, .vacansies, .like,.comm {
    background: white;
    padding: 4px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    transition: .15s linear;
}

.author {
    object-position: center center;
    object-fit: cover;
}

.author img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

.likeCount{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: -5px;
    top: -5px;
    z-index: 1000;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    background: gray;
    border: 2px solid gray;
}

.donate:hover, .author:hover, .like:hover, .vacansies:hover,.comm:hover {
    transform: scale(1.1);
}