@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ravi+Prakash&display=swap');

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 5000;
    background: white;
    border-bottom: 2px solid #e5e5e5 ;
    font-family: Poppins, 'sans-serif';
}


.name {
    display: flex;
    flex-direction: row;
    font-family: "Ravi Prakash", 'sans-serif' !important;
    
}
.name svg {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.header h1 {
    font-size: 32px;
    font-family: Poppins, 'sans-serif';
}
.header button{
    background: transparent;
    border: 0;
    color: black;
    font-weight: 600;
    font-size: 20px;
    position: relative;

}
.active:after{
    width: 100% !important;
}
.header button:after{
    width: 0;
    height: 2px;
    content: "";
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
}
.header button:hover:after{
    width: 100%;
}