@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.register{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px darkgrey;
}

input {
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 16px;

}

button {
    width: 100px;
    height: 40px;

    font-size: 16px;
    color: white;

    border: 1px solid black;
    border-radius: 4px;
    background: darkblue;

    transition: .15s;
}

button:hover {
    cursor: pointer;
    background: blue;
}

h1 {
    margin: 0;
    padding: 0;

    font-family: Poppins, 'sans-serif';
    font-size: 40px;

    font-style: normal;
}

.buttons {
     display: flex;
     flex-direction: row;
     width: 100%;
     max-width: 300px;
     justify-content: space-around;
     align-items: center;
 }

a {
    text-decoration: none;
    font-family: Poppins, 'sans-serif';
    font-size: 16px;
}
.reg{
    background: transparent;
    border: 0;
    color: black;
}
.reg:hover{
    background: transparent;
    color: black;
}