.create {
    width: 250px;
    height: 100px;
    background: white;
    display: flex;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
    flex-direction: column;
    border: 2px solid #e5e5e5;
    border-bottom: 0;
    overflow: hidden;
}

@keyframes start {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.start{
    animation: start .2s linear 1;
    animation-fill-mode: forwards;
}

@keyframes close {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}
.close{
    animation: close .5s linear  1;
    animation-fill-mode: forwards;
}

.create button {
    width: 100%;
    margin-bottom: 5px;
    background: transparent;
    border: 0;
    color: black;
    justify-content: left;
    display: flex;
    padding: 10px;
}