.footer{
    width: 100vw;
    height: 60px;
    background: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    border-top: 2px solid #e5e5e5 ;
}
.footer a, .footer button{
    background: transparent;
    border: 0;
    color: black;

}