.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .1);
    display: flex;
    z-index: 9000;
    animation: start .2s forwards linear 1;
}
.x {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    color: black;
}

.x:hover {
    background: white;
    filter: invert();
}

.post{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background: white;
    border-radius: 8px;
    margin: auto;
    position: relative;
    padding: 40px;
}

.post h2 {
    margin: 20px auto;
}

.post p {
    margin: 10px 0;
    font-size: 20px;
    font-family: Poppins, 'sans-serif';
}

.post iframe {
    margin: 10px auto;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-width: 560px;
    max-height: 315px;
    margin: 10px auto;
}

@keyframes start  {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}