.createProject{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    z-index: 2000;
    display: flex;
    animation: start linear .2s 1;
}
.closed{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    background: white;
    border: 0;
    color: black;
    top: 20px;
}

.closed:hover{
    filter: invert(1);
    background: white;
}

@keyframes start {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container{
    width: 100%;
    position: relative;
    height: 700px;
    max-width: 700px;
    background: white;
    display: flex;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 7000;
}
.container h3{
    margin: 0 auto;
}